@import "tailwindcss";

@theme {
  --color-background: #E5E5E5;
  --color-primary: #222222;
  --color-secondary: #EA9697;
  --color-accent: #CFCFCF;
  --color-foreground: #2F302B;
  --color-footer: #626161;

  --font-merri: 'Merriweather', serif;
}

@layer base {
  html {
    font-family: var(--font-merri);
  }
}

body {
  @apply bg-background text-primary;
}
